<form action='/logout' method="post">
  <input type='submit' name='logout' value="Log Out" >
</form>

Create Peep:
<form name="new_peep" action='/new_peep' method="POST">
  <input type="text" name="new_peep">
  <input type="submit" value="peep it!">
</form>

{% with messages = get_flashed_messages()%}
{% if messages %}
{% for message in messages %}
  <p style="color:red;"> {{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

Peeps:
<div id="peeps_div">
{% for peep in peeps %}
<div class="peep_div" id="peep{{peep.id}}"></div>
<p>{{peep.username}} </p>
<p>{{peep.peep}}</p>
<p>{{peep.time}}</p>
{% endfor %}
</div>